<div class="content">
  <mat-card class="content__header">
    <mat-card-title>Postagens</mat-card-title>
    <button mat-flat-button color="primary" matTooltip="Criar postagem" routerLink="/posts/novo">
      <mat-icon matPrefix>add</mat-icon>
      Adicionar
    </button>

    <div class="content__cards">
      <mat-card class="content__cards__card mat-elevation-z8">
        <mat-card-header class="content__card__header">
          <mat-card-title>Shiba Inu</mat-card-title>
          <button mat-icon-button color="primary" class="content__card__header__button">
            <mat-icon>open_in_new</mat-icon>
          </button>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      </mat-card>
    </div>
  </mat-card>
</div>
