footer {
  font-weight: 400;
  font-size: 0.75rem;
  padding: 12px;

  p {
    text-align: center;
    .mat-icon {
      height: 12px !important;
      width: 12px !important;
      font-size: 12px !important;
    }
  }
}

footer span {
  font-weight: bold;
}

@media only screen and (min-width: 1200px) {
  footer {
    font-size: 1rem;

    p {
      .mat-icon {
        position: relative;
        top: 6px;
        height: 24px !important;
        width: 24px !important;
        font-size: 24px !important;
      }
    }
  }
}
